body.search_endpoint .advanced {
	margin-top: 24px;
	text-align: center;

	// "Advanced settings" button
	input#check-advanced {
		display: none;
	}
	label[for='check-advanced'] {
		margin: 0;
		margin-bottom: 24px;
		@include button('text', 'filter-variant', ' ');
		@include label-large;
	}

	// Mobile behavior - sheet background
	@media (max-width: 767px) {
		#check-advanced:checked + label {
			&::before, &::after { display: none !important; }
			display: block !important;
			background-color: rgba($on-secondary-container, 38%) !important;
			border-radius: 0 !important;

			z-index: 999998;
			position: fixed !important;
			top: 0 !important; left: 0 !important;
			bottom: 0 !important; right: 0 !important;
			transform: none !important;
			width: 100vw !important;
			height: 100vh !important;
		}
	}

	// Advanced settings container
	#advanced-search-container {
		display: block !important;
		padding: 24px;
		margin-bottom: 0;
		border-radius: 28px !important;
		background-color: $surface1;

		// Mobile behavior - bottom sheet
		@media (max-width: 767px) {
			z-index: 999999;
			position: fixed;
			bottom: 0; left: 0; right: 0;
			transform: translateY(100%);
			transition: transform ease 0.25s;

			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;

			&::before {
				content: 'Advanced settings';
				display: inline-block;
				margin-bottom: 20px;
				@include headline6;
			}
		}
		// Desktop behavior - collapsible section
		@media (min-width: 768px) {
			// opacity: 0;
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
			transition: opacity ease 0.25s, height ease 0.25s, padding 0.25s;
		}
	}
	#check-advanced:checked ~ #advanced-search-container {
		// Mobile behavior
		@media (max-width: 767px) {
			transform: translateY(0%);
		}
		// Desktop behavior
		@media (min-width: 768px) {
			opacity: 1;
			height: 200px;
			padding: 24px !important;
		}
	}
}

body.results_endpoint {
	.custom-select, .custom-select-rtl {
		background-color: $surface1;
	}
}

// Category chips
#categories {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	gap: 16px 8px;
	margin-bottom: 24px;

	label {
		@include chip;

		text-transform: capitalize;
		&[for='checkbox_it'] {
			text-transform: uppercase;
		}
	}

	input[type="checkbox"]:checked + label {
		@include chip($selected: true);
	}
}

// Combo boxes
.custom-select, .custom-select-rtl {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	box-shadow: none !important;
	border: none;

	height: 48px;
	border-radius: 4px !important;

	background-color: $surface;
	color: $on-surface-variant;

	@include body-medium;
	text-overflow: ellipsis;
}
