// Mixin for cards
@mixin card($type: 'filled', $background: $surface) {
	border-radius: 12px !important;
	padding: 0;
	margin-bottom: 24px;

	// Card styles
	@if $type == 'elevated' {
		border: none;
		@if $background { background-color: $background !important; }
		@else { background-color: $surface1 !important; }
		@include elevation1;
	}
	@else if $type == 'filled' {
		border: none;
		@if $background { background-color: $background !important; }
		@else { background-color: $surface-variant !important; }
	}
	@else if $type == 'outlined' {
		@if $background { background-color: $background !important; }
		@else { background-color: $surface !important; }
		border: 1px solid $outline;
	}
}

@mixin card-header {
	padding: 16px;
	@include title-medium;
}

@mixin card-body {
	padding: 16px;
	@include body-medium;
}

@mixin card-footer {
	padding: 16px;
	@include body-medium;
}

@mixin card-image {
	height: auto;
	max-width: none;
	width: 100%;
	border-radius: 12px;
}
