// Global styles
* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	background-color: $surface;
	color: $on-surface;
	font-family: "Roboto", "Noto Sans", sans-serif;
	@include body-medium;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

a {
	color: $primary !important;
	text-decoration: none !important;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color ease .1s;
	&:hover {
		border-bottom-color: $primary;
	}
}

label {
	font-weight: inherit;
	margin: 0;
}

.cursor-text {
    cursor: text !important;
}
.cursor-pointer {
    cursor: pointer !important;
}

.visually-hidden {
	display: none !important;
}

// Tables
table {
	width: 100%;
	overflow-x: auto;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid $surface-variant;
	border-radius: 24px;

	tr:first-child th, tr:first-child td { border-top: 0; }
	td:first-child, th:first-child { border-left: 0; }
	tr:last-child th, tr:last-child td { border-bottom: 0; }
	td:last-child, th:last-child { border-right: 0; }

	tr:first-child td:first-child, tr:first-child th:first-child { border-top-left-radius: 24px; }
	tr:first-child td:last-child, tr:first-child th:last-child { border-top-right-radius: 24px; }
	tr:last-child td:first-child, tr:last-child th:first-child { border-bottom-left-radius: 24px; }
	tr:last-child td:last-child, tr:last-child th:last-child { border-bottom-right-radius: 24px; }

	td, th {
		padding: 16px 24px;
		border-top: 1px solid $surface-variant;
		border-left: 1px solid $surface-variant;
		vertical-align: middle;

		&:empty {
			border-top: 0;
			border-left: 0;
		}
	}
	th {
		background-color: $surface1;
		color: $on-surface-variant;
		@include title-medium;
	}
	td {
		@include body-large;
	}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 16px;
	padding-left: 16px;
}
