.infobox {
	.panel-heading {
		.label {
			display: none;
		}

		.panel-title {
		}
	}

	p {
		margin: 0;
	}

	.infobox_body {
		padding: 0 !important;
		max-height: none !important;
		overflow: visible !important;

		.infobox_part {
			padding: 0 16px;
			margin-bottom: 16px;
		}
	}

	img {
		@include card-image;
		padding: 0 !important;
	}

	.btn {
		background: none !important;
		padding: 0;
		margin: 0;
		border: none !important;
		box-shadow: none !important;

		a {
			@include chip('elevated');
		}
	}

	.infobox_toggle {
		display: none !important;
	}
}
