.searx-navbar {
	width: 100%;
	height: 64px;
	padding: 0 16px;
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $surface;

	span {
		height: 48px;
		float: none !important;
		display: inline-flex;
		padding: 0 !important;
		margin: 0 !important;

		a[href="/"] { @include mdi('home', 48px, $on-surface-variant, true); }
		a[href="/about"] { @include mdi('information', 48px, $on-surface-variant, true); }
		a[href="/preferences"] { @include mdi('cog', 48px, $on-surface-variant, true); }
	}

	a {
		padding: 0 !important;
		margin: 0 !important;
	}
}
