#main-logo {
	margin-top: 0;
	margin-bottom: 32px;
}

#main-logo > img {
	max-width: 350px;
	width: 80%;
}

#q {
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	padding: 0 24px;
	border: none;
	outline: none;
	border-radius: 24px !important;
	box-shadow: none;
	background-color: $surface2;
	color: $on-surface;

	&:focus {
		// @include elevation1;
	}

	&::placeholder {
		color: rgba($on-surface, 50%);
	}
}

#search_form {
	.input-group {
		display: flex;
		align-items: center;
		gap: 16px;
		position: relative;

		.input-group-btn {
			display: block;
			width: auto;
		}

		button[type='submit'] {
			position: unset;
			@include button('filled');
			width: 48px !important;
			height: 48px !important;
			border-radius: 48px !important;
			padding: 0 !important;

			&::before {
				flex-shrink: 0;
				@include mdi('magnify', 20px, $on-primary);
			}
		}

		button[type='reset'], #clear_search {
			position: absolute;
			top: 50%; right: 16px + 16px + 48px;
			transform: translateY(-50%);
			z-index: 999;

			background-color: none;
			border: none;
			@include mdi('close', 24px, $outline);

			&:hover {
				@include mdi('close', 24px, $secondary);
			}
		}
	}
}

body.results_endpoint #search_form {
	.row [class^='col-'] {
		margin-bottom: 16px;
	}

	#q {
		font-size: 16px;
	}
}
