// Mixins
@mixin display1() {
	font-size: 64px !important;
	font-weight: 400 !important;
	line-height: 76px !important;
	letter-spacing: -0.5px !important;
}
@mixin display2() {
	font-size: 57px !important;
	font-weight: 400 !important;
	line-height: 64px !important;
	letter-spacing: -0.25px !important;
}
@mixin display3() {
	font-size: 45px !important;
	font-weight: 400 !important;
	line-height: 52px !important;
	letter-spacing: 0px !important;
}
@mixin display-large() {
	@include display2;
}
@mixin display-medium() {
	@include display3;
}
@mixin display-small() {
	font-size: 36px !important;
	font-weight: 400 !important;
	line-height: 44px !important;
	letter-spacing: 0px !important;
}


@mixin headline1() {
	font-size: 36px !important;
	font-weight: 400 !important;
	line-height: 44px !important;
	letter-spacing: 0px !important;
}
@mixin headline2() {
	font-size: 32px !important;
	font-weight: 400 !important;
	line-height: 40px !important;
	letter-spacing: 0px !important;
}
@mixin headline3() {
	font-size: 28px !important;
	font-weight: 400 !important;
	line-height: 36px !important;
	letter-spacing: 0px !important;
}
@mixin headline4() {
	font-size: 24px !important;
	font-weight: 400 !important;
	line-height: 32px !important;
	letter-spacing: 0px !important;
}
@mixin headline5() {
	font-size: 22px !important;
	font-weight: 400 !important;
	line-height: 28px !important;
	letter-spacing: 0px !important;
}
@mixin headline6() {
	font-size: 18px !important;
	font-weight: 400 !important;
	line-height: 24px !important;
	letter-spacing: 0px !important;
}
@mixin headline-large() {
	@include headline1;
}
@mixin headline-medium() {
	@include headline3;
}
@mixin headline-small() {
	@include headline6;
}


@mixin title-large() {
	font-size: 22px !important;
	font-weight: 400 !important;
	line-height: 28px !important;
	letter-spacing: 0px !important;
}
@mixin title-medium() {
	font-size: 16px !important;
	font-weight: 500 !important;
	line-height: 24px !important;
	letter-spacing: 0.1px !important;
}
@mixin title-small() {
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 20px !important;
	letter-spacing: 0.1px !important;
}


@mixin body-large() {
	font-size: 16px !important;
	font-weight: 400 !important;
	line-height: 24px !important;
	letter-spacing: 0.5px !important;
}
@mixin body-medium() {
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 20px !important;
	letter-spacing: 0.25px !important;
}
@mixin body-small() {
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 16px !important;
	letter-spacing: 0.4px !important;
}


@mixin label-large() {
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 20px !important;
	letter-spacing: 0.1px !important;
}
@mixin label-medium() {
	font-size: 12px !important;
	font-weight: 500 !important;
	line-height: 16px !important;
	letter-spacing: 0.5px !important;
}
@mixin label-small() {
	font-size: 11px !important;
	font-weight: 500 !important;
	line-height: 16px !important;
	letter-spacing: 0.5px !important;
}



// Now apply them to a few elements
h1 { @include headline1; }
h2 { @include headline2; }
h3 { @include headline3; }
h4 { @include headline4; }
h5 { @include headline5; }
h6 { @include headline6; }
