$primary: #006b54;
$on-primary: #ffffff;
$primary-container: #7ef8d3;
$on-primary-container: #012018;
$secondary: #4b635a;
$on-secondary: #ffffff;
$secondary-container: #cee8dd;
$on-secondary-container: #072019;
$tertiary: #416376;
$on-tertiary: #ffffff;
$tertiary-container: #c4e8ff;
$on-tertiary-container: #001e2c;
$error: #ba1b1b;
$error-container: #ffdad4;
$on-error: #ffffff;
$on-error-container: #410001;
$background: #fbfdfa;
$on-background: #191c1b;
$surface: #fbfdfa;
$on-surface: #191c1b;
$surface-variant: #dbe5df;
$on-surface-variant: #3f4945;
$outline: #6f7974;
$inverse-on-surface: #eff1ee;
$inverse-surface: #2d312f;
$inverse-primary: #60dbb8;
$shadow: #000000;
