$primary: #60dbb8;
$on-primary: #00382a;
$primary-container: #00513f;
$on-primary-container: #7ef8d3;
$secondary: #b2ccc1;
$on-secondary: #1d352d;
$secondary-container: #344b43;
$on-secondary-container: #cee8dd;
$tertiary: #a8cbe2;
$on-tertiary: #0d3446;
$tertiary-container: #284b5e;
$on-tertiary-container: #c4e8ff;
$error: #ffb4a9;
$error-container: #930006;
$on-error: #680003;
$on-error-container: #ffdad4;
$background: #191c1b;
$on-background: #e1e3e0;
$surface: #191c1b;
$on-surface: #e1e3e0;
$surface-variant: #3f4945;
$on-surface-variant: #bfc9c3;
$outline: #89938e;
$inverse-on-surface: #191c1b;
$inverse-surface: #e1e3e0;
$inverse-primary: #006b54;
$shadow: #000000;
