<form id="search" method="{{ method or 'POST' }}" action="{{ url_for('search') }}">
  <div id="search_header">
    <a id="search_logo" href="{{ url_for('index') }}">
      <span hidden>SearXNG</span>
      {% include '__common__/searxng-wordmark.min.svg' without context %}
    </a>
    <div id="search_box">
      <input id="q" autofocus name="q" type="text" placeholder="{{ _('Search for...') }}" tabindex="1" autocomplete="off" spellcheck="false" dir="auto" {% if q %}value="{{ q }}"{% endif %} >
      <button id="clear_search" type="button" tabindex="-1">
      	{{ icon('close') }}
      </button>
    </div>
    <button id="send_search" type="submit" tabindex="-1">
    	{{ icon('magnify') }}
    </button>
    {% set display_tooltip = true %}
    {% include 'material/categories.html' %}
  </div>
  <div class="search_filters">
    {% include 'material/filters/languages.html' %}
    {% include 'material/filters/time_range.html' %}
    {% include 'material/filters/safesearch.html' %}
  </div>
  <input type="hidden" name="theme" value="{{ theme }}" >
  {% if timeout_limit %}<input type="hidden" name="timeout_limit" value="{{ timeout_limit|e }}" >{% endif %}
</form>
