.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border-radius: 20px;
	padding: 0 24px;
	transition: background-color ease .1s, box-shadow ease .1s;
	overflow: hidden;

	cursor: pointer;

	// Text
	white-space: nowrap;
	text-decoration: none;
	@include label-large;


	&.disabled {
		@include themed() {
			color: rgba(t('on-surface'), 38%) !important;
		}
		box-shadow: none !important;
		cursor: not-allowed;
	}

	// Button styles and states
	// Valid types: elevated, filled, tonal, outlined, and text

	// filled
	&:not(.elevated):not(.tonal):not(.outlined):not(.text) {
		border: none;
		@include themed() {
			background-color: t('primary');
			color: t('on-primary');
		}
		&:hover {
			@include themed() {
				background-color: mix(t('on-surface'), t('primary'), 8%);
			}
			@include elevation1;
		}
		&:active {
			@include themed() {
				background-color: mix(t('on-surface'), t('primary'), 12%);
			}
			box-shadow: none;
		}
		&.disabled {
			@include themed() {
				background-color: rgba(t('on-surface'), 12%) !important;
			}
		}
	}

	&.elevated {
		border: none;
		@include themed() {
			background-color: t('surface');
			color: t('primary');
		}
		@include elevation1;
		&:hover {
			@include themed() {
				background-color: mix(t('primary'), t('surface'), 8%);
			}
			@include elevation2;
		}
		&:active {
			@include themed() {
				background-color: mix(t('primary'), t('surface'), 12%);
			}
		}
		&.disabled {
			@include themed() {
				background-color: rgba(t('on-surface'), 12%) !important;
			}
		}
	}

	&.tonal {
		border: none;
		@include themed() {
			background-color: t('secondary-container');
			color: t('on-secondary-container');
		}
		&:hover {
			@include themed() {
				background-color: mix(t('on-secondary-container'), t('secondary-container'), 8%);
			}
			@include elevation1;
		}
		&:active {
			@include themed() {
				background-color: mix(t('on-secondary-container'), t('secondary-container'), 12%);
			}
			box-shadow: none;
		}
		&.disabled {
			@include themed() {
				background-color: rgba(t('on-surface'), 12%) !important;
			}
		}
	}

	&.outlined {
		background-color: transparent;
		border: 1px solid;
		@include themed() {
			border-color: t('outline');
			color: t('primary');
		}
		box-shadow: none;
		&:hover {
			@include themed() {
				background-color: rgba(t('primary'), 8%);
			}
		}
		&:active {
			@include themed() {
				background-color: rgba(t('primary'), 12%);
			}
		}
		&.disabled {
			background-color: transparent !important;
			@include themed() {
				border-color: rgba(t('on-surface'), 12%) !important;
			}
		}
	}

	&.text {
		background-color: transparent;
		border: none;
		@include themed() {
			color: t('primary');
		}
		box-shadow: none;
		&:hover {
			@include themed() {
				background-color: rgba(t('primary'), 8%);
			}
		}
		&:active {
			@include themed() {
				background-color: rgba(t('primary'), 12%);
			}
		}
		&.disabled {
			background-color: transparent !important;
		}
	}


	// Icon
	&.icon-only {
		padding-left: 16px;
		padding-right: 16px;
	}

	.mdi {
		&:not(:last-child) {
			margin-right: 8px;
		}
		flex-shrink: 0;
	}
}
