@import 'color_sass';

// Material You color palette
:root {
	--primary100: #ffffff;
	--primary99: #f1fff8;
	--primary95: #b6ffe7;
	--primary90: #7ef8d3;
	--primary80: #60dbb8;
	--primary70: #3fbf9d;
	--primary60: #11a484;
	--primary50: #00876a;
	--primary40: #006b54;
	--primary30: #00513f;
	--primary20: #00382a;
	--primary10: #012018;
	--primary0: #000000;
	--secondary100: #ffffff;
	--secondary99: #f1fff8;
	--secondary95: #dbf7eb;
	--secondary90: #cee8dd;
	--secondary80: #b2ccc1;
	--secondary70: #97b1a6;
	--secondary60: #7d968c;
	--secondary50: #647c73;
	--secondary40: #4b635a;
	--secondary30: #344b43;
	--secondary20: #1d352d;
	--secondary10: #072019;
	--secondary0: #000000;
	--tertiary100: #ffffff;
	--tertiary99: #f9fcff;
	--tertiary95: #e1f3ff;
	--tertiary90: #c4e8ff;
	--tertiary80: #a8cbe2;
	--tertiary70: #8db0c6;
	--tertiary60: #7395aa;
	--tertiary50: #597b90;
	--tertiary40: #416376;
	--tertiary30: #284b5e;
	--tertiary20: #0d3446;
	--tertiary10: #001e2c;
	--tertiary0: #000000;
	--neutral100: #ffffff;
	--neutral99: #fbfdfa;
	--neutral95: #eff1ee;
	--neutral90: #e1e3e0;
	--neutral80: #c4c7c4;
	--neutral70: #a9aca9;
	--neutral60: #8e928f;
	--neutral50: #747875;
	--neutral40: #5c5f5d;
	--neutral30: #444745;
	--neutral20: #2d312f;
	--neutral10: #191c1b;
	--neutral0: #000000;
	--neutral-variant100: #ffffff;
	--neutral-variant99: #f5fff9;
	--neutral-variant95: #e9f3ed;
	--neutral-variant90: #dbe5df;
	--neutral-variant80: #bfc9c3;
	--neutral-variant70: #a4ada8;
	--neutral-variant60: #89938e;
	--neutral-variant50: #6f7974;
	--neutral-variant40: #57605c;
	--neutral-variant30: #3f4945;
	--neutral-variant20: #29322e;
	--neutral-variant10: #151d1a;
	--neutral-variant0: #000000;
	--error100: #ffffff;
	--error99: #fcfcfc;
	--error95: #ffede9;
	--error90: #ffdad4;
	--error80: #ffb4a9;
	--error70: #ff897a;
	--error60: #ff5449;
	--error50: #dd3730;
	--error40: #ba1b1b;
	--error30: #930006;
	--error20: #680003;
	--error10: #410001;
	--error0: #000000;
}

@mixin light-vars {
	--primary: var(--primary40);
	--on-primary: var(--primary100);
	--primary-container: var(--primary90);
	--on-primary-container: var(--primary10);
	--secondary: var(--secondary40);
	--on-secondary: var(--secondary100);
	--secondary-container: var(--secondary90);
	--on-secondary-container: var(--secondary10);
	--tertiary: var(--tertiary40);
	--on-tertiary: var(--tertiary100);
	--tertiary-container: var(--tertiary90);
	--on-tertiary-container: var(--tertiary10);
	--error: var(--error40);
	--on-error: var(--error100);
	--error-container: var(--error90);
	--on-error-container: var(--error10);
	--background: var(--neutral99);
	--on-background: var(--neutral10);
	--surface: var(--neutral99);
	--on-surface: var(--neutral10);
	--surface-variant: var(--neutral-variant90);
	--on-surface-variant: var(--neutral-variant30);
	--outline: var(--neutral-variant50);
	--inverse-surface: var(--neutral20);
	--inverse-on-surface: var(--neutral95);
	--inverse-primary: var(--primary80);

	// Extra surface colors
	--surface1: #{surface('light', 1)}; // color-mix(in srgb, var(--primary) 5%, var(--surface));
	--surface2: #{surface('light', 2)}; // color-mix(in srgb, var(--primary) 8%, var(--surface));
	--surface3: #{surface('light', 3)}; // color-mix(in srgb, var(--primary) 11%, var(--surface));
	--surface4: #{surface('light', 4)}; // color-mix(in srgb, var(--primary) 12%, var(--surface));
	--surface5: #{surface('light', 5)}; // color-mix(in srgb, var(--primary) 14%, var(--surface));
}

@mixin dark-vars {
	--primary: var(--primary80);
	--on-primary: var(--primary20);
	--primary-container: var(--primary30);
	--on-primary-container: var(--primary90);
	--secondary: var(--secondary80);
	--on-secondary: var(--secondary20);
	--secondary-container: var(--secondary30);
	--on-secondary-container: var(--secondary90);
	--tertiary: var(--tertiary80);
	--on-tertiary: var(--tertiary20);
	--tertiary-container: var(--tertiary30);
	--on-tertiary-container: var(--tertiary90);
	--error: var(--error80);
	--on-error: var(--error20);
	--error-container: var(--error30);
	--on-error-container: var(--error90);
	--background: var(--neutral10);
	--on-background: var(--neutral90);
	--surface: var(--neutral10);
	--on-surface: var(--neutral90);
	--surface-variant: var(--neutral-variant30);
	--on-surface-variant: var(--neutral-variant80);
	--outline: var(--neutral-variant60);
	--inverse-surface: var(--neutral90);
	--inverse-on-surface: var(--neutral10);
	--inverse-primary: var(--primary40);

	// Extra surface colors
	--surface1: #{surface('dark', 1)}; // color-mix(in srgb, var(--primary) 5%, var(--surface));
	--surface2: #{surface('dark', 2)}; // color-mix(in srgb, var(--primary) 8%, var(--surface));
	--surface3: #{surface('dark', 3)}; // color-mix(in srgb, var(--primary) 11%, var(--surface));
	--surface4: #{surface('dark', 4)}; // color-mix(in srgb, var(--primary) 12%, var(--surface));
	--surface5: #{surface('dark', 5)}; // color-mix(in srgb, var(--primary) 14%, var(--surface));
}

// Auto theme (autoswitch based on device pref)
:root.theme-auto {
	@media (prefers-color-scheme: light) {
		@include light-vars;
	}
	@media (prefers-color-scheme: dark) {
		@include dark-vars;
	}
}
// Light Theme by preferences
:root.theme-light {
	@include light-vars;
}
// Dark Theme by preferences
:root.theme-dark {
	@include dark-vars;
}
