@use "sass:map";

// Material You color palette
$palette: (
	"primary100": #ffffff,
	"primary99": #f1fff8,
	"primary95": #b6ffe7,
	"primary90": #7ef8d3,
	"primary80": #60dbb8,
	"primary70": #3fbf9d,
	"primary60": #11a484,
	"primary50": #00876a,
	"primary40": #006b54,
	"primary30": #00513f,
	"primary20": #00382a,
	"primary10": #012018,
	"primary0": #000000,
	"secondary100": #ffffff,
	"secondary99": #f1fff8,
	"secondary95": #dbf7eb,
	"secondary90": #cee8dd,
	"secondary80": #b2ccc1,
	"secondary70": #97b1a6,
	"secondary60": #7d968c,
	"secondary50": #647c73,
	"secondary40": #4b635a,
	"secondary30": #344b43,
	"secondary20": #1d352d,
	"secondary10": #072019,
	"secondary0": #000000,
	"tertiary100": #ffffff,
	"tertiary99": #f9fcff,
	"tertiary95": #e1f3ff,
	"tertiary90": #c4e8ff,
	"tertiary80": #a8cbe2,
	"tertiary70": #8db0c6,
	"tertiary60": #7395aa,
	"tertiary50": #597b90,
	"tertiary40": #416376,
	"tertiary30": #284b5e,
	"tertiary20": #0d3446,
	"tertiary10": #001e2c,
	"tertiary0": #000000,
	"neutral100": #ffffff,
	"neutral99": #fbfdfa,
	"neutral95": #eff1ee,
	"neutral90": #e1e3e0,
	"neutral80": #c4c7c4,
	"neutral70": #a9aca9,
	"neutral60": #8e928f,
	"neutral50": #747875,
	"neutral40": #5c5f5d,
	"neutral30": #444745,
	"neutral20": #2d312f,
	"neutral10": #191c1b,
	"neutral0": #000000,
	"neutral-variant100": #ffffff,
	"neutral-variant99": #f5fff9,
	"neutral-variant95": #e9f3ed,
	"neutral-variant90": #dbe5df,
	"neutral-variant80": #bfc9c3,
	"neutral-variant70": #a4ada8,
	"neutral-variant60": #89938e,
	"neutral-variant50": #6f7974,
	"neutral-variant40": #57605c,
	"neutral-variant30": #3f4945,
	"neutral-variant20": #29322e,
	"neutral-variant10": #151d1a,
	"neutral-variant0": #000000,
	"error100": #ffffff,
	"error99": #fcfcfc,
	"error95": #ffede9,
	"error90": #ffdad4,
	"error80": #ffb4a9,
	"error70": #ff897a,
	"error60": #ff5449,
	"error50": #dd3730,
	"error40": #ba1b1b,
	"error30": #930006,
	"error20": #680003,
	"error10": #410001,
	"error0": #000000,
);

$themes: (
	"light": (
		"primary": map.get($palette, "primary40"),
		"on-primary": map.get($palette, "primary100"),
		"primary-container": map.get($palette, "primary90"),
		"on-primary-container": map.get($palette, "primary10"),
		"secondary": map.get($palette, "secondary40"),
		"on-secondary": map.get($palette, "secondary100"),
		"secondary-container": map.get($palette, "secondary90"),
		"on-secondary-container": map.get($palette, "secondary10"),
		"tertiary": map.get($palette, "tertiary40"),
		"on-tertiary": map.get($palette, "tertiary100"),
		"tertiary-container": map.get($palette, "tertiary90"),
		"on-tertiary-container": map.get($palette, "tertiary10"),
		"error": map.get($palette, "error40"),
		"on-error": map.get($palette, "error100"),
		"error-container": map.get($palette, "error90"),
		"on-error-container": map.get($palette, "error10"),
		"background": map.get($palette, "neutral99"),
		"on-background": map.get($palette, "neutral10"),
		"surface": map.get($palette, "neutral99"),
		"on-surface": map.get($palette, "neutral10"),
		"surface-variant": map.get($palette, "neutral-variant90"),
		"on-surface-variant": map.get($palette, "neutral-variant30"),
		"outline": map.get($palette, "neutral-variant50"),
		"inverse-surface": map.get($palette, "neutral20"),
		"inverse-on-surface": map.get($palette, "neutral95"),
		"inverse-primary": map.get($palette, "primary80"),
	),
	"dark": (
		"primary": map.get($palette, "primary80"),
		"on-primary": map.get($palette, "primary20"),
		"primary-container": map.get($palette, "primary30"),
		"on-primary-container": map.get($palette, "primary90"),
		"secondary": map.get($palette, "secondary80"),
		"on-secondary": map.get($palette, "secondary20"),
		"secondary-container": map.get($palette, "secondary30"),
		"on-secondary-container": map.get($palette, "secondary90"),
		"tertiary": map.get($palette, "tertiary80"),
		"on-tertiary": map.get($palette, "tertiary20"),
		"tertiary-container": map.get($palette, "tertiary30"),
		"on-tertiary-container": map.get($palette, "tertiary90"),
		"error": map.get($palette, "error80"),
		"on-error": map.get($palette, "error20"),
		"error-container": map.get($palette, "error30"),
		"on-error-container": map.get($palette, "error90"),
		"background": map.get($palette, "neutral10"),
		"on-background": map.get($palette, "neutral90"),
		"surface": map.get($palette, "neutral10"),
		"on-surface": map.get($palette, "neutral90"),
		"surface-variant": map.get($palette, "neutral-variant30"),
		"on-surface-variant": map.get($palette, "neutral-variant80"),
		"outline": map.get($palette, "neutral-variant60"),
		"inverse-surface": map.get($palette, "neutral90"),
		"inverse-on-surface": map.get($palette, "neutral10"),
		"inverse-primary": map.get($palette, "primary40"),
	),
);

// Extra surface colors
$surface-ratios: 5%, 8%, 11%, 12%, 14%;
@each $theme, $map in $themes {
	@for $i from 1 through 5 {
		$themes: map.set($themes, $theme,
			map.set($map, "surface#{$i}",
				mix(
					map.get($map, "primary"),
					map.get($map, "surface"),
					nth($surface-ratios, $i)
				)
			)
		) !global;
	}
}


@mixin themed() {
	@each $theme, $map in $themes {
		@media screen and (prefers-color-scheme: #{$theme}){
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map.get(map.get($themes, $theme), "#{$key}");
				$theme-map: map.merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function t($key) {
	@return map.get($theme-map, $key);
}
