#search_header {
	display: flex;
	justify-content: center;
	gap: $gap;
}

#search_box {
	display: grid;
	grid-template-columns: 1fr auto;

	#q {
		width: 30vw;
		height: 48px;
		line-height: 48px;
		font-size: 18px;
		padding: 0 24px;
		border: none;
		outline: none;
		border-radius: 24px;
		box-shadow: none;
		@include themed() {
			background-color: t('surface2');
			color: t('on-surface');
		}

		grid-column: 1 / -1;
		grid-row: 1;
		z-index: 1;

		&:focus {
			@include elevation1;
		}

		&::placeholder {
			@include themed() {
				color: rgba(t('on-surface'), 50%);
			}
		}
	}

	#clear_search {
		width: 48px;
		height: 48px;
		border-radius: 24px;

		grid-column: 2;
		grid-row: 1;
		z-index: 2;
	}
}

#send_search {
	width: 48px;
	height: 48px;
	border-radius: 24px;
}
